<div class="article-item">
  <div nz-row style="padding: 2px;">
    <h1><a [routerLink]="['/article', articleItem.pubId]" style="text-decoration-line: none">{{articleItem.title}}</a></h1>
  </div>
  <div nz-row class="article-abstract">
    <p>{{articleItem.abstract}}</p>
  </div>
  <div nz-row >
    <div nz-col [nzSpan]="4">
      <span class="article-tag"><b>{{articleItem.type}}</b></span>
    </div>
    <div nz-col [nzSpan]="4">
      <span><i class="anticon anticon-tag-o"></i>&nbsp;{{articleItem.category}}</span>
    </div>
    <div nz-col [nzSpan]="6">
      <span><i class="anticon anticon-clock-circle-o"></i>&nbsp;{{articleItem.pubTime}}</span>
    </div>
    <div nz-col [nzSpan]="4">
      <span><i class="anticon anticon-eye-o"></i>&nbsp;{{articleItem.visitorCount}}</span>
    </div>
    <div nz-col [nzSpan]="3">
      <span><i class="anticon anticon-like-o"></i>&nbsp;{{articleItem.voteCount}}</span>
    </div>
    <div nz-col [nzSpan]="3">
      <span><i class="anticon anticon-message"></i>&nbsp;{{articleItem.commentaryCount}}</span>
    </div>
  </div>
</div>
