:host .article-item {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 12px;
}

.article-tag {
  background-color: lightgray;
  border-radius: 4px;
  font-size: 10px;
  padding: 3px;
  text-align: center;
  margin: 2px;
  align-self: center;
}

.article-abstract {
  color: darkgray;
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 5px;
}
a:link {color:black;}    /* 未被访问的链接 */
a:visited {color:gray} /* 已被访问的链接 */
a:hover {color: dodgerblue;} /* 鼠标指针移动到链接上 */
