<nz-layout class="layout">
  <nz-header>
    <div>
      <div class="logo"></div>
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 63px;">
        <li nz-menu-item>FM</li>
        <li nz-menu-item>IP Location</li>
        <li nz-menu-item>Message</li>
      </ul>
    </div>
  </nz-header>
  <nz-content style="padding:0 30px;">
    <div nz-row [nzGutter]="5">
      <div nz-col [nzOffset]="4" [nzSm]="24" [nzMd]="16">
        <nz-breadcrumb style="margin:12px 0;">
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>Article</nz-breadcrumb-item>
          <nz-breadcrumb-item>Content</nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
    </div>
    <div style="padding: 10px">
      <div nz-row [nzGutter]="10">
        <div style="min-height: 1000px;" nz-col [nzSm]="24" [nzMd]="4">
        </div>
        <div style="min-height: 1000px;" nz-col [nzSm]="20" [nzMd]="14">
          <app-article-content></app-article-content>
        </div>

        <div nz-col  [nzSm]="24" [nzMd]="6">
          <app-side-info></app-side-info>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="position: relative;left:0px;bottom:0px;text-align: center;width: 100%">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>

