:host ::ng-deep .ant-layout-header {
  background: #fff;
}
:host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: lightgray;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}
a:link {color:black;}    /* 未被访问的链接 */
a:visited {color:purple} /* 已被访问的链接 */
a:hover {color: dodgerblue;} /* 鼠标指针移动到链接上 */
a {
  text-decoration: none;
}
