<nz-layout class="layout">
  <!--<nz-header>-->
    <!--<div>-->
      <!--<div class="logo"></div>-->
      <!--<ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 63px;">-->
        <!--<li nz-menu-item>FM</li>-->
        <!--<li nz-menu-item>IP Location</li>-->
        <!--<li nz-menu-item>Message</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</nz-header>-->
  <nz-content style="padding:0 30px;">
    <div nz-row [nzGutter]="5">
      <div nz-col [nzOffset]="4" [nzSm]="24" [nzMd]="16">
        <app-breadcrumb></app-breadcrumb>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzOffset]="3" [nzSm]="24" [nzMd]="18">
        <div style="padding: 10px">
          <div nz-row [nzGutter]="10">
            <router-outlet></router-outlet>
            <div nz-col  [nzSm]="24" [nzMd]="6" style="margin-top: 5px">
              <nz-affix>
                <app-sidebar></app-sidebar>
              </nz-affix>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="float: bottom;text-align: center;width: 100%">
    Ant Design ©2017 Implement By Angular
  </nz-footer>
</nz-layout>

