<div style="padding: 5px; background-color: white">
  <div style="display: block; padding: 10px; ">
    <a style="vertical-align: middle" >
      <nz-avatar nzSize="small" nzIcon="user" style="display:inline-block; vertical-align: middle;background-color:#87d068;"></nz-avatar>
      <span style="vertical-align: middle; margin-left: 5px">Commentator</span>
      <span style="vertical-align: middle; font-size: 10px">2018-5-14 16:09</span>
    </a>
    <a href="" style="float: right">reply</a>
    <p style="margin-top: 5px; margin-bottom: 5px; margin-left: 30px">
      some contentsome contentsome contentsome contentsome contentsome contentsome contentsome contentsome contentsome content
    </p>
  </div>
  <div style="display: block; padding: 10px; margin-left: 32px; border: #e0e0e0 dashed 1px;">
    <a style="vertical-align: middle" >
      <nz-avatar nzSize="small" nzIcon="user" style="display:inline-block; vertical-align: middle;background-color:#87d068;"></nz-avatar>
      <span style="vertical-align: middle; margin-left: 5px">Commentator</span>
      <span style="vertical-align: middle; font-size: 10px">2018-5-14 16:09</span>
    </a>
    <a href="" style="float: right">reply</a>
    <p style="margin-top: 5px; margin-bottom: 5px; margin-left: 30px">
      some contentsome contentsome contentsome contentsome contentsome contentsome contentsome contentsome contentsome content
    </p>
  </div>
  <div style="margin-top: 16px;">

    <div style="margin-top: 16px;">
      <nz-input nzType="textarea" nzAutosize nzPlaceHolder="Autosize height based on content lines"></nz-input>
    </div>
</div>
